/* Design Section */

/* 
This Stylesheet contains rules for elements of the
design section in the index page
*/

.design {
    padding: 4.5rem 0;
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-family: var(--Playfair);
    font-size: 2.4rem;
}

.title p {
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.design-content {
    margin: 2rem 0;
}

.design-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.design-item span{
    margin: 10px;
    border-radius: 10px;
}

.design-img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

}

.design-img::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
}

.design-img img {
    transition: all 0.5s ease;
    max-width: auto;
    height: auto;
}

.design-item:hover img {
    transform: scale(1.2);
}

.design-img span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}

.design-img span:last-of-type {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}

.design-title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.design-title a {
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

/* Media Queries */

@media screen and (min-width: 540px) {

}
@media screen and (min-width: 768px) {
    .design-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .design-item {
        margin: 0;
    }

}

@media screen and (min-width: 1024px) {
    .design-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
